<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class name="corpo" [fullscreen]="true">

    <h1 class="txtcentro"> Cadastro especialista </h1>

  <ion-textarea class="text1"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  ngModel
  email
></ion-textarea>

<ion-textarea class="text2"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  ngModel
  email
></ion-textarea>

<ion-textarea class ="text3"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  ngModel
  email
></ion-textarea>

<ion-button>Default</ion-button>

</ion-content>
