.text1 {

  padding: 60px;


}

.text2{
  padding: 60px;
}

.text3{
  padding: 60px;
}

.corpo{
  background-color: aqua;
}

.txtcentro{
  display: flex;
  justify-content: center;
  align-items: center;
}


